<h1>Listing tracks</h1>


	<div class ="listing">
		<%if @tracks.empty?%>
		 There are currently no tracks on the system
		<%end%>
<% @tracks.each do |track| %>
		<div class ="element-preview">
		<%= link_to (image_tag(picture(track.artist),:size =>'96x96'), track )%>
		 <div class ="meta">
		 	<%=link_to (track.name, track ) %> by <%=link_to (track.artist.username)%><br/>
		 	Uploaded:<%=time_ago_in_words(track.created_at)%>
		 	</div>
		
		</div >
		

	
<% end %>
	</div>

