<h1>Listing tracks</h1>


	<div class ="listing">
		<%if @tracks.empty?%>
		 There are currently no tracks on the system
		<%end%>
<% @tracks.each do |track| %>

		
		
		<div class ="element-preview">
		<%= link_to (image_tag(picture(track.artist),:size =>'96x96'), track )%>
		 <div class ="meta">
		 	<%=link_to (track.name, track ) %><br/>
		 	Uploaded:
		 	</div>
		
		</div >
		

	
<% end %>

	</div>





