<p id="notice"><%= notice %></p>


<audio src =<%= "/tracks/#{@track.filename}"%>  autoplay ="autoplay" controls ="controls">
	
Your broswer does not have HTML 5 support
</audio>

<p><strong><%=@track.name%></strong> Posted by<%= link_to(@track.artist.username,@track.artist) %></p>




