

<div id ="profile-picture">
	<%=image_tag(picture(@artist))%>
	
</div>
<div id ="bio">
	<h2><%=@artist.username %></h2>
	<% if artist_signed_in? %>
<%=link_to 'Edit Profile',edit_artist_path(@artist) %>
<%end%>
</div>
