<h1><%= @title %></h1>
<% if artist_signed_in? %>
	<table class="front" summary="For signed-in artists">
		<tr>
			<td class="main">
				<h1 class="micropost">Comments</h1>
				<%= render 'shared/micropost_form' %>
			</td>
		</tr>
	</table>
<% end %>
