<h1><%= @title %></h1>
<% if artist_signed_in? %>





	
<% end %>



  <div  id ="track"> Loading the player...</div>
 
  <script type ="text/javascript">
	  jwplayer("track").setup({
           'flashplayer': 'jwplayer/player.swf',
	   'file':'/tracks/0000/0001/50 cent- when it rained.mp3',
	   'controlbar':'bottom',
	   'widht':'480',
	   'height':'270'}	   
       
       );
  </script>
