<li>
<div class= "clipwrapper">
	<div class="clip">
		<%=link_to image_tag(picture(artist), :size => '180x180'),artist_path(artist.id)%>
	</div>
           
	<div class= "public_info">
	  |<%=artist.username %>
	 </div>
</div>
</li>

