<h1> Artist Page </h1>
<tr>
	<td class="main">
		<% unless @artist.microposts.empty? %>
			<table class="microposts" summary="Artist microposts">
				<%= render @microposts %>
			</table>
			<%= will_paginate @microposts %>
		<% end %>
	</td>
</tr>
